*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1
{
color: blue;
/* sử dụng màu theo tên của màu*/
font-family: 'Architects Daughter', cursive;
/* font chữ trên gg font*/
font-weight: 900;
/* độ thanh của chữ*/
font-size: 50px;
/* độ to của chữ*/
}
textarea{
    display: block;
}
h1{
    border: 1px solid pink;/*tạo viền màu gì*/
    border-style: dotted;
    background-color: hotpink;
    /*display: inline;tạo viền là chấm hoặc kẻ ngang
    padding: 5px;khoảng cách từ chữ đến viền
    margin: 390px;khoảng cách từ viền đến bìa
    background-color: pink;
    height: 10px;độ dài của background= height content + padding + border
    width: 10px;độ rộng của background=width content + padding + border*/
    
    
}
.container{
background-color: pink;
width: 1140px; 
margin: 0 auto;
padding-top: 100px;
}
.content{
background-color: palegoldenrod;
width: 75%;
float: left;
}
.avatar{
width: 25%;
background-color: greenyellow;
float: left;
}
.infor{
background-color: green;
}
